<footer class="footer">
    <div class="footer__container container">
        <h1 class="footer__title">Jordan Payta</h1>
        <p class="footer__description" data-i18n="footerDescription">Full-Stack Developer & Computer Engineer</p>

        <ul class="footer__list">
            <li><a href="about.html" class="footer__link" data-i18n="footerAbout">Sobre Mí</a></li>
            <li><a href="experience.html" class="footer__link" data-i18n="footerExperience">Experiencia</a></li>
            <li><a href="portfolio.html" class="footer__link" data-i18n="footerProjects">Proyectos</a></li>
        </ul>

        <ul class="footer__social">
            <a href="https://www.linkedin.com/in/jordan-payta" target="_blank" class="footer__social-link">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/Paytini" target="_blank" class="footer__social-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/jordanpayta" target="_blank" class="footer__social-link">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="mailto:jolinjips@hotmail.com" class="footer__social-link">
                <i class="fas fa-envelope"></i>
            </a>
        </ul>

        <span class="footer__copy" data-i18n="footerCopy">© 2026 Jordan Payta. Todos los derechos reservados.</span>
    </div>
</footer>

<a href="#" class="scrollup" id="scroll-up">
    <i class="fas fa-arrow-up scrollup__icon"></i>
</a>
